.react-calendar__tile--now {
  background-color: rgb(181 253 133) !important; 
}

.react-calendar__tile--now:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.react-calendar__tile--active {
  background-color: rgb(181 253 133) !important;
  color: inherit !important;
}

.react-calendar__tile--hasActive {
  background: none !important;
  color: inherit !important;
}

.react-calendar {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
}

.react-calendar__month-view {
  overflow-x: auto;
}
